*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    font-size: 0.35rem;
}
.wrap{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}